/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styling */
header {
    width: 100%;
    background-color: var(--background-header);
}

.header-section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--background-header);
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon-maybay {
    display: flex;
    align-items: center;
    color: white;
}

.icon-maybay i {
    font-size: 25px;
    margin-right: 10px;
}

.hello {
    font-size: 15px;
}

.hello span {
    font-weight: bold;
}

.input {
    position: relative;
    flex-grow: 1;
    max-width: 300px;
    margin: 0 20px;
}

input[type="text"] {
    width: 100%;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    background-image: url("../img/icons8-search-50.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 30px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus {
    border: 3px solid rgb(255, 174, 0);
    outline: none;
    background-color: #ffffff;
}

/* Navigation styling */
.nav-section {
    background-color: var(--background-nav);
}

.nav-top ul, .nav-section ul {
    display: flex;
    list-style-type: none;
}

.nav-top ul li, .nav-section ul li {
    margin: 10px 5px;
}

.nav-top ul li a, .nav-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 20px;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
}

.nav-top ul li a:hover, .nav-section ul li a:hover {
    background-color: #d6d6d6;
    color: rgb(255, 123, 0);
    font-weight: 600;
}
