/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner styling */
.banner {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
}

.banner-images {
    display: flex;
    transition: transform 0.5s ease;
}

.banner-images img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    transform: translateY(-50%);
    transition: background-color 0.3s, font-size 0.3s, width 0.3s, height 0.3s;
}

.arrow:hover {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Main container and box product styling */
.container-main {
    width: 100%;
    min-height: 1500px;
}

.box-product {
    display: block;
    transition: transform 0.3s ease-in-out;
    width: calc(25% - 10px);
    background-color: white;
    margin: 10px 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(160, 156, 150, 0.5);
    border-radius: 5px;
}

.box-product:hover {
    transform: scale(1.07);
}

.box-product img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.box-product img:hover {
    transform: scale(1.05);
}

.box-big-product {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.topic h3 {
    margin-bottom: 10px;
}

.box-product-inline, .box-product-small, .box-product-large {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}

.box-product-inline {
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
}

.box-product-small, .box-product-large {
    width: calc(50% - 20px);
    height: 120px;
    margin: 5px;
    flex-direction: column;
}

.box-product-large {
    width: calc(100% - 20px);
    height: 300px;
}

.box-product-small img, .box-product-large img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.box-product-small p, .box-product-large p {
    text-align: center;
    font-size: 14px;
    color: var(--color-text-dark);
    margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .box-product {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .header-section-top {
        flex-direction: column;
        padding: 10px 20px;
    }

    .logo img {
        width: 100px;
    }

    .icon-maybay, .input, .nav-top {
        width: 100%;
        margin: 10px 0;
    }

    .icon-maybay, .input, .nav-top ul {
        justify-content: center;
    }

    .input {
        max-width: 100%;
    }

    .nav-top ul {
        flex-direction: column;
        margin: auto;
    }

    .nav-top ul li {
        margin: 5px 0;
    }

    .nav-top ul li a {
        line-height: 50px;
    }

    .container-main {
        padding: 20px 0;
    }

    .banner {
        width: 90%;
    }

    .banner img {
        object-fit: contain;
    }

    .box-product {
        width: calc(100% - 10px);
    }
}

@media (max-width: 480px) {
    .header-section-top {
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .icon-maybay i {
        font-size: 16px;
    }

    .hello {
        font-size: 10px;
    }

    .input {
        margin: 10px 0;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 10px 15px 10px 35px;
    }

    .nav-top ul li a {
        padding: 0 10px;
    }

    .nav-section {
        font-size: 14px;
        padding: 0;
        line-height: 22px;
    }

    .container-main {
        padding: 10px 0;
    }

    .banner {
        width: 100%;
    }

    .banner img {
        object-fit: contain;
    }

    .box-product {
        width: 100%;
        margin: 5px 0;
    }
}

@media (max-width: 400px) {
    .header-section-top {
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .icon-maybay i {
        font-size: 16px;
    }

    .hello {
        font-size: 10px;
    }

    .input {
        margin: 10px 0;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 10px 15px 10px 35px;
    }

    .nav-top ul li a {
        padding: 0 10px;
    }

    .nav-section {
        font-size: 15px;
        padding: 0;
        line-height: 0;
    }
}
